extends layout

block content
  h1=title
  p
    a.button(href="/books/new") Create New Book
  
  form(action="/books/search/page/1", method="post")
    p
      label(for="search") Search
      input(name="search" type="text" id="search")
      input(type="submit" value="Search")

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)=book.title
          td=book.author
          td=book.genre
          td=book.year

  br
  each button in buttons
    a.button(href='/books/page/' + button)=button